body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat',sans-serif;
}
.tela-perfil{
    width: 300px;
    position: relative;
    background: linear-gradient(120deg, rgba(21, 109, 240, 0.534) , rgba(83, 216, 30, 0.568));
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 5px;

}
.tela-perfil img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 100px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 3px;
}
#text-user{
    padding: 0 0 0 0;
    margin: 0 0 0 0;    
    text-align: center;
    border-bottom: 1px solid rgb(73, 73, 73);
}
.tela-saldo h1{
    padding: 0 0 10px 10px;
    margin: 0;
    top: -15px;
    position: relative;
}
.tela-saldo p{
    position: relative;
    left: 10px;
    font-weight: 600;
}
.tela-perfil button{
    position: relative;
    top: 5px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    box-shadow: 0 0 3px;
}
#div-title-pix{
    text-align: center;
}
#img-pix{
    width: 150px;
    height: 50px;
    margin-top: 35px;
    margin-bottom: -70px;
    text-align: center;
    border: 1px solid rgba(138, 134, 134, 0.39);
    padding: 20px;
    border-radius: 20px;
    
}
#tela-pix{
text-align: center;
margin-top: 40px;
font-family: monospace;
}
#menu-home{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pix{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 20px;
}
.card{ 
    margin: 20px;
    padding: 10px;
    width: 80px;
    font-size: 8px;
    background-color: rgba(97, 238, 207, 0.37);
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.507);
    transition: all 0.5s ease-out;
    
}
.card h1{
    border-bottom: 1px solid;
    
}
#pagar{
    border-left: 4px solid red;
    border: 1px solid;
}
#pagar img{
    position: relative;
}
#receber{
    border-left: 4px solid green;
    border: 1px solid;
}
.card:hover{
transform: translateY(-5px);
cursor: pointer;
}