body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: 'montserrat', 'sans-serif';
    background: linear-gradient(120deg,rgb(8, 108, 133) , rgb(196, 55, 252));
}
.tela{
    width: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:white;
    padding: 20px;
    box-shadow: 0 0 2px;
}
.tela h1{
    text-align: center;
    border-bottom: 1px solid silver;
    padding: 0 0 20px 0;
}
.tela h4{
    text-align: center;
    position: relative;
    top: -15px;
}
.descrision{
    position: relative;
    
}
.descrision p{
    text-align: center ;

}
.descrision li{
    position: relative;
    height: 20px;
    border: 1px solid silver;
    margin: 0 0 15px 0;
    padding: 5px;
    border-radius: 20px;

}
.div-bt{
    width: 100%;
}
.div-bt button{
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 20px;
    border: none;
    outline: none;
    font-weight: 600;
    background: rgb(6, 164, 212);
    font-size: 15px;
    color: #fff;
    box-shadow: 0 0 5px 0.5px #00000046;
    transition: .5s;
}
.div-bt button:hover{
    background: silver;
    color: #000;
}
 #sobre{
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    position: absolute;
    top: 14%;
    left: 70%;
    box-shadow: 0 0 4px;
    background-color: aqua;
}
#sobre:hover{
    background-color: rgb(4, 231, 231);
}